.btnsearch{
    margin-top: 32px;
    background-color: rgb(184, 134, 11) !important;
    border-color: rgb(184, 134, 11) !important;
}


.btnupdate{
    margin-top: 14px;
    background-color: rgb(184, 134, 11) !important;
    border-color: rgb(184, 134, 11) !important;
    color:white !important;
}

.searchlabel{
    font-weight: bold;
  margin-top: 14px;
}

.stockright{
    position: absolute !important;
  right: 0 !important;
  padding: 10px !important;
}